<!-- branchForm.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>New Customer</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('images/SignUp.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            background-attachment: fixed;
            position: relative;
        }
    </style>
</head>
<body >
    <div>
        <h1>Add Customer</h1>
        <form action="/SignUp" method="POST">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required><br><br>

            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required><br><br>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>

            <label for="License">License</label>
            <input type="text" id="license" name="license" placeholder="License" required><br><br>

            <label for="contact">Contact</label>
            <input type="tel" id="contact" name="contact" placeholder="Contact" required><br><br>

            
        
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>

