body {
  margin: 0;
}
.test {
  background-color: red;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.search-field {
  position: sticky;
  top: auto;
  z-index: 3;
}

.hero-image {
  background-image: url("images/hero_image.jpg");
  height: 400px; /* Adjust height as needed */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.search-bar {
  margin-top: 50px;
}
